
# Node
node_modules/
package-lock.json
npm-debug.log*
.pnpm-store/

# Environment Variables
.env
.env.local
.env.*.local

# Build
dist/
build/
.vite/build

# Testing
coverage/
.nyc_output/

# Vite
.vite/

# IDEs
.vscode/
.idea/

# OS
.DS_Store